.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 65vmin;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  display: flex;
  margin-left: 130px;
  height: 140px;
  background-image: url('../../assets/img/fruits/fruitLogo.png');
  background-repeat: no-repeat;
}
.menu {
  display: flex;
  padding-top: 40px;
}
.info {
  display: flex;
  justify-content: space-around;
}
.score {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 170px;
  text-align: center;
}

.scoreImg {
  height: 50px;
  width: 50px;
  background-image: url('../../assets/img/fruits/score.png');
  background-repeat: no-repeat;
  background-position: center;
}
