.item {
  position: absolute;
  right: 85%;
  bottom: 85%;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  border: 3px solid grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #383f51;
  font-weight: 400;

  &:hover {
    border: 3px solid #d65b88;

    .span-text {
      color: rgb(220, 53, 69);
    }
  }
  .span-text {
    color: grey;
    white-space: pre-line;
    word-break: break-all;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.span-text {
  //   white-space: pre-line;
  word-break: break-all;
}
.start {
  margin-top: 10px;
}

.details {
  word-break: break-all;
  display: inline;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    color: rgb(220, 53, 69);
  }
}

.name {
  width: 80%;
  text-align: center;
}

.event-name {
  cursor: pointer;
  &:hover {
    color: #d65b88;
  }
}

.delete {
  margin-top: 10px;
  color: #d65b88;
  font-weight: 500;
  font-size: 20px;

  &:hover {
    font-weight: 600;
    color: rgb(220, 53, 69);
  }
}
