@import '../../scss/variables';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: $overlay-color;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border: 5px solid $third-color;
  border-radius: 15px;
  text-align: center;
  background-color: $primary-color;
  box-sizing: border-box;
}

.title {
  font-size: 5rem;
  color: $seventh-color;
  font-weight: 600;
  line-height: 1.5;
  white-space: nowrap;
  text-transform: uppercase;
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  margin: 0 auto;
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: baseline;
  padding: 0 2rem;
  font-size: 4rem;
  border: 4px solid $sixth-color;
  border-radius: 20px;
  color: $sixth-color;
  font-family: $font-family-second;
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: opacity(0.7);
  }
}
