.wrapper{
  width: 100%;
  height: auto;
  background-image: url("chess-game-business-strategy-concept.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.title{
  cursor: pointer;
  font-size: 50px;
  font-family: "Audiowide", cursive;
  font-weight: 600;
  color: #646464;
  margin-top: 20%;
  margin-left: 15px;
  margin-bottom: 10px;
}

.rules{
  cursor: pointer;
  margin-left: 15px;
  font-size: 35px;
}

