@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''), url('../fonts/caveat-v17-cyrillic-500.woff2') format('woff2'),
    url('../fonts/caveat-v17-cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('../fonts/caveat-v17-cyrillic-600.woff2') format('woff2'),
    url('../fonts/caveat-v17-cyrillic-600.woff') format('woff');
}
