%blueButton {
  background-color: $third-color;
  // filter: drop-shadow($shadow);
  box-shadow: $shadow;
  transition: background-color 0.34s ease-in-out;

  &:hover {
    background-color: $eight-color;
  }
}
