.table {
  position: absolute;
  border-collapse: collapse;
}

.row {
}

.cell {
  font-size: 14px;
  font-weight: 300;
  color: blueviolet;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 1px solid blueviolet;
}
