.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgba(189, 185, 185, 0.742);
  background-color: #293462;
  height: 100vh;
  flex-direction: column;
}
.header {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  color: #fff;
}
.instructions {
  width: 70vmin;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 20px;
  color: #fff;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
}

.heading {
  text-align: center;
  line-height: 100px !important;
  font-size: 5em;
  padding-bottom: 0.2em;
  background-image: linear-gradient(-225deg, #d61c4e 0%, #feb139 29%, #fff80a 67%, #f55050 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
