.container {
  position: absolute;
  display: block;
  top: 2.2rem;
  left: 6.5rem;
  z-index: 2;
  margin-right: auto;
  transform: rotate(-5deg);
  cursor: pointer;


  &:hover {
    filter: brightness(0.9);
  }
}