{
  "env": {
    "browser": true,
    "es6": true
  },
  "ignorePatterns": ["node_modules", "dist", "build"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals",
    "airbnb",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "import"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/no-unused-class-component-methods": "error",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off",
    "react/destructuring-assignment": "off",
    "react/static-property-placement": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/order": [
      2,
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-relative-packages": "off",
    "import/no-cycle": "off",
    "prettier/prettier": "error",
    "linebreak-style": [0, "unix"],
    "quotes": ["error", "single"],
    "class-methods-use-this": "off",
    "default-param-last": "off",
    "max-classes-per-file": "off",
    "no-restricted-syntax": "off",
    "guard-for-in": "off",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "no-throw-literal": "off",
    "no-unused-vars": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off",
    "default-case": "off",
    "no-shadow": "off",
    "camelcase": "off",
    "indent": ["off", 2],
    "semi": "error",
    "no-plusplus": "off",
    "no-nested-ternary": "off",
    "no-new": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
