.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/img/board.jpg');
  height: 100vh;
  flex-direction: column;
}
.header {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  color: #fff;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
}

.container {
  display: flex;
  align-items: center;
  height: 100px;
  width: 400px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.heading {
  text-align: center;
  margin-top: 10px;
  line-height: 100px !important;
  font-size: 5em;
  background-image: linear-gradient(-225deg, #d61c4e 0%, #feb139 29%, #fff80a 67%, #f55050 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
}

.btn {
  width: 220px;
  height: 200px;
  background-image: url('../../assets/img/newGame.png');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.content {
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-image: url('../../assets/img/fruits/strawberry.png');
  background-repeat: no-repeat;
  background-position: center;
}

.headingNinja {
  width: 200px;
  height: 100px;
  background-image: url('../../assets/img/fruits/ninja.png');
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
