.mainPage {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.interface{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}