//* colors

$primary-color: #ffffff;
$secondary-color: #000000;
$third-color: #47aebc;
$fourth-color: #001aff;
$fifth-color: #0fbd00;
$sixth-color: #ff0000;
$seventh-color: #fe3d3d;
$eight-color: #404aa2;
$overlay-color: rgba(0, 0, 0, 0.3);
$transparent-color: transparent;

//* shadow
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

//* fonts

$font-family-main: 'Caveat', 'Times New Roman', Times, serif;
$font-family-second: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
  sans-serif;
$font-family-third: 'Nunito', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
  sans-serif;
