@import './variables.scss';
@import './placeholders';

.button {
  @extend %blueButton;

  position: absolute;
  right: 1.5rem; //* headerContainer padding
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
}

.pause {
  width: 3rem;
  height: 3rem;
}

.play {
  position: absolute;
  left: 1.8rem;
}