@import './variables.scss';
@import './placeholders';

.button {
  @extend %blueButton;

  position: absolute;
  right: 15px; //* headerContainer padding
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.pause {
  width: 30px;
  height: 30px;
}

.play {
  position: absolute;
  left: 18px;
}