@import './variables.scss';

.container {
  padding: 2px 0 5px;
  display: flex;
  gap: 2px;
  height: 125px;
}

.letter {
  position: relative;
  display: inline-block;
  font-size: 38px;
  line-height: 50px;
  width: 67px;
  height: 55px;
  color: $fourth-color;
  text-transform: uppercase;
  text-shadow: $shadow;
  text-align: center;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 10px;
    background-image: url('/hangman/line.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 52px;
  }
}
