@import './variables';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 4px solid $third-color;
  border-radius: 20px;
  background-color: $primary-color;
}

.title {
  font-size: 50px;
}
