@import './variables.scss';

.container {
  position: relative;
  max-width: 1024px;
  height: 75px;
  width: 100%;
  margin: 0 auto;
  background-image: url('/hangman/background.jpg');
  user-select: none;
}

.container::before {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  height: 3px;
  display: block;
  background-color: $seventh-color;
  content: '';
}

.container::after {
  position: absolute;
  top: -2px;
  left: 0;
  width: 190px;
  height: 110px;
  filter: opacity(0.8);
  background-image: url('/hangman/splat.png');
  content: '';
}


