.chess{
  display: flex;
  justify-content: space-between;
  margin: 130px auto 0;
  max-width: 90%;
  width: 100%;
  font-size: 25px;

  &__data,
  &__info{
    max-width: 25%;
    width: 100%;
  }

  &__data{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
    overflow-y: hidden;
    height: 592px;
  }

  &__data-wrapper{
    display: flex;
    align-items: top;
    margin-bottom: 5px;
  }

  &__data-suptitle{
    font-size: 19px;
    margin-bottom: 10px;
  }


  &__mode{
    font-size: 15px;
    max-width: 180px;
    margin-left: 15px;
  }

  &__data-title{
    margin-bottom: 10px;
  }

  &__info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__counter{
    align-items: center;
    display: flex;
  }

  &__info-wrapper{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    border-radius: 10px;
  }

  &__board{
    position: relative;
  }

  &__win-message {
    margin-top: 20px;
    color: #19be21;
  }
}

.chess__history{
  font-size: 20px;
  letter-spacing: 2px;
  overflow-y: hidden;
  &-inner {
    overflow-y: scroll;
    height: 450px;
  }
  &-wrapper{
    display: flex;
  }

  &-items{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  &-item{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
  }
  &-image{
    width: 25px;
    height: 25px;
    margin-top: -5px;
  }

  &-count{
    font-size: 15px;
    display: flex;
    height: 100%;
    align-items: top;
    justify-content: center;
    margin-bottom: 5px;

  }

  &-move{
    display: flex
  }

  &-eat-figure{
    display: flex;
    align-items: center;
    margin-left: 6px;
    margin-top: -5px;
  }

  
}