.ball{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.blue1{

  background-image: url('../../assets/images/balls/blue1.png');

}
.blue2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/blue1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.blue3{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/blue1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.blue4{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/blue1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.green1{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/green1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.green2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/green2.png');
  background-repeat: no-repeat;
  background-position: center;
}
.green3{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/green3.png');
  background-repeat: no-repeat;
  background-position: center;
}
.green4{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/green4.png');
  background-repeat: no-repeat;
  background-position: center;
}
.purple1{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/purple1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.purple2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/purple2.png');
  background-repeat: no-repeat;
  background-position: center;
}
.purple3{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/purple3.png');
  background-repeat: no-repeat;
  background-position: center;
}
.purple4{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/purple4.png');
  background-repeat: no-repeat;
  background-position: center;
}
.red1{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/red1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.red2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/red2.png');
  background-repeat: no-repeat;
  background-position: center;
}
.red3{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/red3.png');
  background-repeat: no-repeat;
  background-position: center;
}
.red4{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/red4.png');
  background-repeat: no-repeat;
  background-position: center;
}
.white1{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/white1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.white2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/white2.png');
  background-repeat: no-repeat;
  background-position: center;
}
.white3{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/white3.png');
  background-repeat: no-repeat;
  background-position: center;
}
.white4{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/white4.png');
  background-repeat: no-repeat;
  background-position: center;
}
.yellow1{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/yellow1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.yellow2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/yellow2.png');
  background-repeat: no-repeat;
  background-position: center;
}
.yellow3{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/yellow3.png');
  background-repeat: no-repeat;
  background-position: center;
}
.yellow4{
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-image: url('../../assets/images/balls/yellow4.png');
  background-repeat: no-repeat;
  background-position: center;
}