.canvas {
  position: absolute;
  box-sizing: border-box;
  // border: 1px solid red;
  outline: none;
  background-color: #000;
  height: 85vh; // ?
}

.top {
  position: absolute;
  height: 85vh;
}
