.header {
  display: flex;
  justify-content: end;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8.8rem;
  padding: 0.8rem 1.5rem;
}
