.field {
  display: grid;
  grid-template-columns: repeat(4, 15vmin);
  grid-template-rows: repeat(4, 15vmin);
  gap: 1vmin;
  background-color: white;
  margin-top: 100px;
  border-radius: 1%;
  padding: 1vmin;
}
