@import '../../scss/variables';

.container {
  position: relative;
  max-width: 25rem;
  height: 30rem;
  width: 100%;
}

.gallows {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 23rem;
  height: 23rem;
  background-image: url('./gallows.svg');
  background-repeat: no-repeat;
}

.head {
  position: absolute;
  top: 9rem;
  left: 10.8rem;
  width: 5rem;
  height: 5rem;
  background-image: url('./head.svg');
  background-repeat: no-repeat;
  background-size: 5rem;
}

.body {
  position: absolute;
  top: 13.2rem;
  left: 13.5rem;
  width: 0.9rem;
  height: 8.1rem;
  background-image: url('./body.svg');
  background-repeat: no-repeat;
  background-size: 0.9rem;
}

.leftHand {
  position: absolute;
  top: 14.7rem;
  left: 10.5rem;
  width: 3.6rem;
  height: 2.5rem;
  background-image: url('./leftHand.svg');
  background-repeat: no-repeat;
}

.rightHand {
  position: absolute;
  top: 14.7rem;
  left: 13.8rem;
  width: 3.5rem;
  height: 1.7rem;
  background-image: url('./rightHand.svg');
  background-repeat: no-repeat;
}

.leftLeg {
  position: absolute;
  top: 21rem;
  left: 10.7rem;
  width: 3.5rem;
  height: 2.7rem;
  background-image: url('./leftLeg.svg');
  background-repeat: no-repeat;
}

.rightLeg {
  position: absolute;
  top: 21rem;
  left: 14rem;
  width: 3.9rem;
  height: 2.8rem;
  background-image: url('./rightLeg.svg');
  background-repeat: no-repeat;
}
