@import "../../styles/Variables.scss";

.SettingsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 60px;
}

.SettingsHeader {
  align-self: center;
  font-size: 34px;
}

.SettingsTable {
  align-self: center;
  border: 3px solid $main-theme-color;
  border-collapse: collapse;

  td {
    text-align: center;
    padding: 30px;
    
    font-size: 24px;
    font-weight: 100;
    letter-spacing: .1em;

    border: 1px solid gray;
  }
}
