.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding: 20px;
  background-image: url('../../public/games_bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
