.container {
  position: relative;
  display: block;
  background-image: url('../../public/white_bg.jpg');
  // height: 100vh;

  main {
    height: 100vh;
  }
}

.game_wrapper{
  background-image: url('../../public/white_bg.jpg');
  height: 100vh;
  overflow: hidden;
}