.CheckersBoard {
  height: 120%;
  background-image: url('../../images/aaaa.jpg');
}

.ModalContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 20px;
}

.GameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
