@import '../../styles/Variables.scss';

.CheckersBoard {
  height: 120%;
  background-image: url('../../images/aaaa.jpg');
}

.ModalContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 20px;
}

.ScoreAndGameContainer {
  display: flex;
  align-items: center;
}

.GameBoardContainer {
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 2em;

  .HorizontalContainer {
    display: flex;

    .LeftNumbers,
    .RightNumbers {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      font-family: 'ljk_RoadRage';
      padding: 0 0 0 0.5em;
    }
  }

  .TopLetters,
  .BottomLetters {
    display: flex;
    justify-content: space-around;

    padding: 0 1.5em;
    font-family: 'ljk_RoadRage';
  }


}

.GameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
