.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  // background-image: url('../../../public/white_bg.jpg');
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin-top: 50px;
  justify-content: center;
  position: absolute;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.playfield_inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
