$app-background-color: #635f69;
$app-text-color: #f7e9e9;
$game-cell-color: #343035;
$game-cell-focus-color: #272727;
$game-success: #69a046;
$game-warn: #e2b332;
$game-error: #e78a8a;
$key-background-color: #ababac;
@import './letter-status.scss';

body.bodyClass {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $app-text-color;
  background: $app-background-color;
}