@import '../../../styles/Variables.scss';

.BoardHeader {
  display: flex;
  gap: 50px;

  padding-top: 1em;
}

.RulesButton {
  border: 2px solid $button-color;
  border-radius: 13px;
  padding: 10px 20px;

  color: $button-color;

  background-color: transparent;

  cursor: pointer;

  transition: all 0.5s ease 0s;
}

.RulesButton:hover {
  border: 2px solid $white-color;

  color: $white-color;
}
