
// general btn style
.btn {
  font-size: 30px;
  font-weight: 700;
  border: 3px solid #D65B88;
  padding: 20px 30px;
  border-radius: 20px;
  color: #D65B88;
  width: 190px;
  letter-spacing: .1em;

  &:active:hover {
    transform: scale(0.9);
    background-color: #D65B88;
    color: #FFFFFF;
  }

}

// individual btn positioning regarding parent, 
// here selector = theme prop of the Button component
.play {
  position: absolute;
  top: 20%;
  margin: 0 auto;
}

.score {
  position: absolute;
  top: 50%;
  right: 60%;
}

.back {
  position: absolute;
  top: 50%;
  left: 60%;
}

.restart {
  position: absolute;
  top: 50%;
  left: 25%;
  background-color: white;
  border-radius: 20px;
  line-height: 1rem;

  button {
    padding: 20px;
  }
}

.exit {
  position: absolute;
  top: 50%;
  right: 25%;
  background-color: white;
  border-radius: 20px;
  line-height: 1rem;

  button {
    padding: 20px;
  }
}

 .startGame {
    button {
      font-size: 20px;
      width: 110px;
      padding: 15px;
      margin-bottom: 20px;
    }
  }

  .settings {
    border: none;
    button {
      border: none;
      top: 5%;
      left: -30%;
      font-size: 19px;
      width: 60px;
      height: 60px;
      padding: 13px;
      position: absolute;
      border-radius: 50%;

      &:active:hover {
        transform: scale(0.9);
        background-color: transparent;
        color: transparent;
      }

    }
  }

  .backToMenu {
    position: absolute;
    left: 10%;
    top: 5%;

    button {
      width: 100px;
      font-size: 20px;
      padding: 15px;
    }
  }