.main__page {
  max-width: 1000px;
  height: 80vh;
  margin: 100px auto 0;

  background-color: #000000;
}

.main__pageContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__pageImage {
  max-width: 600px;
  max-height: 200px;
}

.main__pageButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 70px;
  @media (max-width: 1000px) {
    margin-top: 15px;
  }
}
