.layout {
    margin-top: 45px;
    height: 100%;
    background: #fff;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    color: #333;
    text-shadow: 3px 0px 2px #18093eed, 0 0 1em #15164c, 0 0 0.2em #010128;
}

.board {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    place-items: center;
}

.card {
    cursor: pointer;
    display: grid;
    box-shadow: 10px 16px 12px 3px rgb(0 0 0 / 60%);
    border-radius: 5px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.openCard {
    background: url("https://source.unsplash.com/CYoRRCbl8Ws/560x320");
    cursor: pointer;
    display: grid;
    box-shadow: 10px 16px 12px 3px rgb(0 0 0 / 60%);
    border-radius: 5px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.image {
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
    border-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.button {
    text-align: center;
    color: #fff;
    background: #000;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
}