.victory__page {
  width: 1000px;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  opacity: 0;
  animation: blur 0.3s ease-in-out forwards;

  margin: 100px auto 0;

  background-color: #000000;

  .victory__pageTitle {
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 20px;
    padding: 0 0 40px 40px;
  }

  .victory__pageContainer {
    padding-left: 40px;
    padding-bottom: 80px;

    .victory__pageContainer__box {
      display: flex;
      align-items: center;
      margin: 50px 0;

      .victory__pageSubtitle {
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 10px;
      }

      .victory__pageEnemy {
        margin: 0 20px;
      }
    }
  }

  .victory__pageFooter {
    width: 100%;
    padding-left: 40px;

    .victory__pageUnderline {
      width: 80%;
      height: 5px;
      margin-bottom: 20px;
      display: block;
      background-color: #ffffff;
    }

    .victory__pageTotal {
      text-transform: uppercase;
      font-size: 36px;
      letter-spacing: 10px;
    }
  }
}

@keyframes blur {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
