@import '../../scss/variables';
@import '../../scss/placeholders';

.button {
  @extend %blueButton;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
}

.pause {
  width: 3rem;
  height: 3rem;
}

.play {
  position: absolute;
  left: 1.8rem;
}