// .header-wrapper {
//   display: flex;
//   justify-content: space-between;
//   padding: 0 50px;
// }

.header {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  height: 50px;
}
.switch {
  display: flex;
  gap: 10px;
}
.button {
  color: #d65b88;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    font-weight: 600;
    color: rgb(220, 53, 69);
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.month {
  align-self: flex-end;
}
