.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #293462;
  flex-direction: column;
  background: rgb(1,13,13);
  background: linear-gradient(0deg, rgba(1,13,13,1) 0%, rgba(238,164,4,1) 100%);
}
