.transformBoard{
  position: relative;
  transform: rotate(180deg);
}

.board{
  position: relative;

  &__items{
    position: absolute;
    display: flex;
    font-size: 20px;
    font-weight: 400;

  }


  &__items-row-transform{
    right: -20px;
    top: 0;
    flex-direction: column;
    transform: rotate(180deg);
  }

  &__items-row{
    right: -20px;
    top: 0;
    flex-direction: column;
  }

  &__item-row{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646464;
  }

  &__items-column{
    width: 100%;
    margin-top: 3px;
    color: #646464;

  }

  &__item-column{
    max-width: 74px;
    width: 100%;
    text-align: center;
  }


}