.dragon_set {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  animation: moveDragon 26s ease-in-out 1s infinite;
}

@keyframes moveDragon {
  from {
    
    margin-left: 0px;
  }

  1% {
    margin-left: 0px;
  }

  12% {
    margin-left: -400px;
  }

  13% {
    margin-left: -400px;
  }

  27% {
    margin-left: -800px;
    transform: scale(1, 1);
  }

  28% {
    margin-left: -800px;
    transform: scale(-1, 1);
  }

  50% {
    margin-left: 0px;
  }

  51% {
    margin-left: 0px;
  }

  72% {
    margin-left: 800px;
    transform: scale(-1, 1);
  }

  73% {
    margin-left: 800px;
    transform: scale(1, 1);
  }

  90% {
    margin-left: 400px;
  }

  91% {
    margin-left: 400px;
  }

  99% {

    margin-left: 0px;
  }

  to {
    margin-left: 0px;

  }
}

.dragon_baby {
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  animation: moveBaby 1s ease-in-out 1s infinite;
}

@keyframes moveBaby {
  from {
    transform: rotate(3deg);
    margin-bottom: 0px;
  }

  25%{
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(3deg);
    margin-bottom: 50px;
  }

  to {    
    margin-bottom: 0px;
  }
}

.right_leg_child {
  transform-origin: 30% 70%;
  animation: moveLeg 3s ease-in-out infinite;
}

.left_leg_child {
  transform-origin: 60% 70%;
  animation: moveLeg 3s ease-in-out 1s infinite;
}

.left_arm_child {
  transform-origin: 60% 50%;
  animation: moveLeg 3s ease-in-out infinite;
}

.right_arm_child {
  transform-origin: 60% 50%;
  animation: moveLeg 3s ease-in-out 1s infinite;
}

.head_child {
  transform-origin: 50% 55%;
  animation: moveLeg 15s ease-in-out 1s infinite;
}

.right_leg {
  transform-origin: 30% 70%;
  animation: moveLeg 3s ease-in-out infinite;
}

.left_leg {
  transform-origin: 30% 60%;
  animation: moveLeg 3s ease-in-out 1s infinite;
}

.tail {
  transform-origin: 30% 60%;
  animation: moveLeg 5s ease-in-out 1s infinite;
}

.left_arm {
  transform-origin: 30% 35%;
  animation: moveLeg 7s ease-in-out infinite;
}

.right_arm {
  transform-origin: 30% 35%;
  animation: moveLeg 7s ease-in-out 2s infinite;
}

.head {
  transform-origin: 30% 25%;
  animation: moveLeg 15s ease-in-out 1s infinite;
}

@keyframes moveLeg {
  from {
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(8deg);
  }

  75% {
    transform: rotate(-8deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.final_message, .lose_message, .lose_question{
  align-content: space-between;
  position: absolute;
  margin-top: 55px;
  
  border-radius: 50px;
  font-family: 'bonche-light';
  font-weight: 200;
  color:aliceblue;  
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 480px;
  padding: 50px 50px;
}

.final_message {
  font-size: larger;
  background-image: url('../../img/final.png');
  background-position: 0px -5px;
  background-repeat: no-repeat;
}

.lose_message {
  font-size: xx-large;
  padding-top: 150px;
  background-color: rgb(51, 36, 90);
}

.button_reset{
  width: 200px;
  height: 50px;
  background-color: darkslateblue;
  border: 1px solid aliceblue;
  margin-top: 466px;
  position: absolute;
}