.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 30px;
  width: 65vmin;
  color: white;
}
.container {
  display: flex;
  justify-content: space-between;
}
.title {
  padding-top: 10px;
  font-size: 4em;
}
.description {
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: center;
  padding-top: 20px;
}
.menu {
  display: flex;
  justify-content: space-around;
}
