
.header {
  padding: 5px 0px;
  width: 100%;
  box-shadow: 0 -1px  10px 0px rgba(0, 0, 0, 0.5);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 230px;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.1px;
  }
  // &__logo {
  //   vertical-align: bottom;
  //   width: 50px;
  //   height: 50px;
  // }
  .login-btn {
    transition: .3s;
    &:hover{
      color: #000;
    }
  }

}

.menu {
  margin-left: auto;
  margin-right: 40px;
  max-width: 400px;
  width: 100%;
  &__list{
    display: flex;
    justify-content: space-between;
  }

  &__item-link {
    transition: .3s;
  }

  &__list-btn{
    font-family: 'Audiowide', cursive;
    font-size: 18px;
    font-weight: 600;
    color: #646464;
    transition: .3s;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__item-link:hover,
  &__list-btn:hover{
    color: #000;
  }

}
