
.map1{
  position: relative;
  width: 1500px;
  height: 700px;
  border-radius: 1%;
  background-image: url('../../assets/images/map1.png');
}
.map2{
  position: relative;
  width: 1500px;
  height: 700px;
  border-radius: 1%;
  background-image: url('../../assets/images/map2.png');
}
.map3{
  position: relative;
  width: 1500px;
  height: 700px;
  border-radius: 1%;
  background-image: url('../../assets/images/map3.png');
}