.mainTitle{
  //font-size: 30px;
  color: #646464;
  font-family:'Audiowide', cursive !important;
}

.title{
  color: #646464;
  font-family:'Audiowide', cursive !important;
margin: 20px 20px;
}

.text{
  color: #646464;
  font-family:'Audiowide', cursive !important;
}
