@import '../../scss/variables';

.container {
  padding: 2rem 0 5rem;
  display: flex;
  gap: 0.2rem;
}

.letter {
  position: relative;
  display: inline-block;
  font-size: 3.8rem;
  line-height: 5rem;
  width: 6.7rem;
  height: 5.5rem;
  color: $fourth-color;
  text-transform: uppercase;
  text-shadow: $shadow;
  text-align: center;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7rem;
    height: 1rem;
    background-image: url('./line.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5.2rem;
  }
}
