.table {
  border-collapse: collapse;
  border: 3px solid #D65B88;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 50vw;
  height: 50vh;
  text-align: center;
 
  caption {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  thead {
    border-bottom: 1px solid darkgray;
  }

  th, td {
    padding: 20px;
    border: 1px solid darkgray;
  }
}