.item {
  margin-bottom: 30px;
  font-size: 15px;
  padding: 15px 10px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #383f51;
  font-weight: 400;

  &:hover {
    border: 1px solid #d65b88;

    .span-text {
      color: rgb(220, 53, 69);
    }
  }
  .span-text {
    color: grey;
    white-space: pre-line;
    word-break: break-all;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.start {
  margin-top: 10px;
}

.details {
  word-break: break-all;
  display: inline;
}

.delete {
  margin-top: 10px;
  color: #d65b88;
  font-weight: 500;
  font-size: 20px;

  &:hover {
    font-weight: 600;
    color: rgb(220, 53, 69);
  }
}
