.playfield_score {
  font-family: fantasy;
  color: gray;
  margin-bottom: 10px;
  list-style: none;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 400;

  span {
    font-family: fantasy;
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #D65B88;

    &:last-child {
      padding-bottom: 0;
    }
  }
}