html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background: rgb(26, 25, 25);
  // color: white;
  //overflow: hidden;
}
@font-face {
  font-family: myFirstFont;
  src: url('../assets/fonts/True Lies.ttf');
}
a {
  color: inherit;
  text-decoration: none;
}
.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  &:nth-child(1) {
    margin-left: -45%;

    &::after {
      animation-delay: 2s;
    }
  }
  &:nth-child(3) {
    margin-left: 39.5%;

    &::after {
      animation-delay: 2.5s;
    }
  }
}
.page-enter {
  opacity: 0;
  transform: scale(1.1);
}
.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 1;
  transform: scale(1);
}
.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
