$white-color: white;
$black-color: black;
$grey-color: #8a8a8a;

$white-board-color: white;
$black-board-color: black;
$selected-board-color: rgba(121, 85, 61);
$can-be-captured-board-color: red;
$available-board-color: rgba(0, 255, 127, 0.4);

$button-color: rgba(255, 255, 255, 0.6);

$main-font-family: sans-serif;
$decorated-font-family: sans-serif;

$cell-width: 84px;
$cell-height: 84px;
